*{
	box-sizing:border-box;
    margin: 0;
    padding: 0;
}

a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
	text-decoration: none;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: auto;
    // -webkit-overflow-scrolling: touch;  
}
a{
    cursor: pointer;
}
/* 
@media screen and (max-width:1000px) {}
 */